# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/
node_modules/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Kubernetes
kubeconfig
*.kubeconfig

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

# Environment files
.env
.secret
